

.Modal {
   background-color: lightgreen;
   display: inline-block;
   position: absolute;
   width: 300px;
   margin-left: 44px;
   text-align: center; 
   height: 430px;
   z-index: 2;
   transition: transform 0.5s;
}

@media (min-width: 1000px) {
    .Modal {
        min-width: 600px;
        height: 500px;
    }
}

@media (min-height: 1020px) {
    .Modal {
        height: 550px;
    }
}
