.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #fff;
  min-height: 100vh;
  min-width: 380px;
  z-index: 5;
}

.InfoButton {
  color: #dfdfdfe8;
  position: relative;
  border-radius: 50%;
  font-size: 2rem;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  top: -6px;
  left: 110px;
  background: #252525;
  box-shadow:  1px 1px 8px #151515, 
              -1px -1px 8px #353535;
  
}

.InfoButton:active {
  box-shadow:  inset 1px 1px 8px #151515, 
               inset -1px -1px 8px #353535;
}

.InfoButton:hover, .InfoButton:hover {
  box-shadow:  inset 1px 1px 8px #151515, 
               inset -1px -1px 8px #353535;
}

@media (min-width: 800px) {
  .InfoButton {
    left: 200px;
  }

  .Container {
    width: 600px;
  }
}