body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(145deg, #2c2c2c, #252525);
}

body, html {
  height: calc(100vh + 20px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
